# Discord configuration
TOKEN=""
OWNER=

# Database configuration
DBNAME=
DBUSER=
DBHOST=
DBPASSWORD=
DBPORT=3306

DATABASE_URL="mysql://${DBUSER}:${DBPASSWORD}@${DBHOST}:${DBPORT}/${DBNAME}?schema=public"
